body {
    font-family: arial, Helvetica, "sans serif";
    margin: 0px;
    padding: 0px;
}


#page {
    width: 800px;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: black;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 5ex;
    color: #333;
}

#pila {
    border: 1px solid black;
    padding: 4ex;
}
