body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Verdana, Helvetica;
  background-color: #922;
}

#page {
  width: 900px;
  margin: 20px auto 20px auto;
  padding: 5ex;
  border: 1px solid black;
  border-width: 0px 1px 0px 1px;
  background-color: white;

}

.Block {
  padding: 3ex;
  min-width: 155px;
  border: 2px solid black;
  border-color: #CA6;
  border-radius: 6px;
  margin: 5px;
  display: inline-block;
}

#fabrica {
  float: left;
}

#muro {
  float: right;
}

.Obrero {
}

.Final {

}
